
/* global settings */
* {
  font-family: Arial;
  background-color: black;
  color: white;
}

/* header  */
header {
  display: flex;
  justify-content: right;
  padding: 20px;
}

.title {
  display: flex;
  justify-content: center;
  margin: 20px;
  width: 100%;
}

.scores {
  flex: 1 1 auto;
  margin: 20px;
}

.headerImage {
  flex: 1 1 auto;
}

.headerImage img {
  margin: auto;
  display: block;
}

.time {
  flex: 1 1 auto;
  justify-content: center;
}

.ninja {
  color: red;
  font-size: 150%;
}
