
/* global settings */
* {
  font-family: Arial;
  background-color: black;
  color: white;
}

/* header  */
header {
  display: flex;
  justify-content: right;
}

.title {
  display: flex;
  justify-content: center;
  width: 100%;
}

.scores {
  flex: 1 1 auto;
}

.headerImage {
  flex: 1 1 auto;
}

.headerImage img {
  margin: auto;
  display: block;
}

.time {
  flex: 1 1 auto;
  justify-content: center;
}

.ninja {
  font-family: cursive;
  color: red;
  font-size: 150%;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 80%;
  position: relative;
  left: 10%;
  background-color: #343030;
  border-radius: 20px 20px 20px 20px;
  padding: 20px;
}

.wrapper div {
  background-color: #343030;
}

.wrapper h1,h2 {
  background-color: #343030;
}

.wrapper p {
  background-color: #343030;
}

.ninjaBlock {
  font-family: cursive;
  color: red;
  font-size: 150%;
  background-color: #343030;
}

.wrapper button {
  width: 150px;
  height: 30px;
  background-color: #369739;
  
}