
/* global settings */
* {
  font-family: Arial;
  background-color: black;
  color: white;
}

/* header  */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 80%;
  position: relative;
  left: 10%;
}

h1, h2,h3 {
  background-color: black;
}

.title {
  display: flex;
  justify-content: center;
  width: 100%;
}

.scores {
  padding: 20px;
  justify-content: center; /* center the content horizontally */
  align-items: center; /* center the content vertically */
}

.headerImage {
  width: 300px;
}

.headerImage img {
  margin: auto;
  display: block;
}

.time {
  
  justify-content: center;
  font-size: 250%;
  color: red;
}

.ninja {
  font-family: cursive;
  color: red;
  font-size: 150%;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 80%;
  position: relative;
  left: 10%;
  background-color: #343030;
  border-radius: 20px 20px 20px 20px;
  padding: 20px;
}

.wrapper div {
  background-color: #343030;
}

.wrapper h1,h2 {
  background-color: #343030;
}

.wrapper p {
  background-color: #343030;
}

.ninjaBlock {
  font-family: cursive;
  color: red;
  font-size: 150%;
  background-color: #343030;
}

.wrapper button {
  width: 150px;
  height: 30px;
  background-color: #369739;
  justify-content: center; /* center the content horizontally */
  align-items: center; /* center the content vertically */
    --padding-x: 1.2em;
  border-color: transparent; 
}

#start {
  display: flex;
}

#questions {
  display: none;
}

#end {
  display: none;
}

